#!/bin/bash

## This is Moss configuration.
## You can modify these settings to fit for your need.
## Please read setting instruction carefully before change it.

## File Server

# Packages get mode(PGM)
# local: Moss will get software list and all packages from ../src directory.
#        Packages list and all packages should be placed in ../src.
# remote: Moss will get software list and all packages from remote HTTP/HTTPS server.
PGM='local'

# Remote server URL
# This URL is where software list and packages stored.
DOWN_URL='http://repo.foo.com/'


## OS Settings
# OS hostname
# Leave blank for current hostname.
OS_HOSTNAME=''

# OS root password
# If you want to use RSA public key login, you should put your RSA
# public key to etc/rsa_public_keys/root.pub
# If root.pub key exist, Moss will depoly RSA public key login
# for root user automatically, and will disable SSH password 
# authentication!
# Leave blank for current root password.
OS_ROOT_PASSWD=''

# Timezone
# Set system timezone.
# To find timezone name, run 'timedatectl list-timezones'.
# Leave blank for current timezone.
TIMEZONE='Asia/Shanghai'

# IPv6
# 1: Disable IPv6
# 0: Enable IPv6
DISABLE_IPV6=0

# BBR
# 1: Enable BBR
# 0: Disable BBR
ENABLE_BBR=0

# Change Ubuntu APT Source List
# If set to 1, Moss will change default apt source to AliCloud Public Source.
CHANGE_APT=1

# SSH password authentication control
# 1: Enable SSH password authentication
# 0: Disable SSH password authentication
SSH_PASS_AUTH=1

# Permit SSH root login
# 1: Permit root login
# 0: Deny root login
SSH_ROOT_LOGIN=1

# INST_DIR is the directory of where compiled software will be installed to.
# Ngxin, PHP, MySQL etc. softwares will be installed to this directory.
INST_DIR='/usr/local/app'


## MySQL Settings
# MySQL database directory.
MYSQL_DATA_DIR='/data/mysql'

# MySQL data backup path
MYSQL_BACKUP_DIR='/data/backup/mysql'

# MySQL log directory.
MYSQL_LOGDIR='/var/log/mysql'


## Redis Settings
# Redis persistence data directory.
RDS_DATA_DIR='/data/redis'

# Redis log directory.
RDS_LOGDIR='/var/log/redis'



## Nginx Settings
# Nginx webserver host name.
# ONLY one domain name can be set!
NGX_HOSTNAME='www.foo.com'

# Nginx webserver documnet root. Default is '/www/wwwroot/www.example.com'.
NGX_DOCROOT="/data/wwwroot/${NGX_HOSTNAME}"

# Ngxin log directory. The path of Nginx access log and error log store to.
NGX_LOGDIR='/var/log/nginx'


## PHP Settings
# Install PECL Redis extension
ISREDIS=1

# PHP log directory.
PHP_LOGDIR='/var/log/php'


## Zabbix Agent Settings
# Set Zabbix server IP address
ZABBIX_SERVER_IP=''
